.background{
    background-image: url(netflix-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120% 120%;
    height: 100%;
    filter: brightness(50%);

}
.select-lang{
    background-color: transparent;
}
.foreground{
    color: white;
    background-color: rgba(0,0,0,0,0.1);
    top: 35%;
    left: 50%;
    width: 54%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.readytowatch{
    font-size: 15px;
   
}
.email{
    background: white;
    width: 500px;
    height: 50px;
    color: black;
    font-size: 30px;

}
.buttoncode{
    background: #e50914;
    color: rgb(255, 255, 255);
    padding: 7px 17px ;
    height: 50px;
    width: 300px;
    font-size: 30px;
}
.logo{
    top: 5%;
    left: 8%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
}
.sign-in{
    top: 5%;
    right: 8%;
  background: red;
  color:white;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  font-size: 15px;
    position: absolute;
    text-align: center;
}
#languge{
    top: 5%;
    right: 14%;
  background: white;
  color:black;
  height: 40px;
  width: 80px;

  font-size: 15px;
    position: absolute;
    text-align: center;
}
.blackscreen{
    background-color: black;
    height: 35%;
    filter: brightness(40%);
    background-position: center;
    background-repeat: no-repeat;
  
}
.para{
    color: white;
    font-size: 1.25rem;
}
#para{
    background-color: black;
    color: whitesmoke;
    flex-direction: flex-start;
}
